body{
    width: 100%;
    height: 100%;
    background-color:white;
}

/*----------------------------------*/
/*---Ínicio do cabeçalho inicial----*/
/*----------------------------------*/

header{
    width: 100%;
    height: 110px;
    background-color: #5692D1 ;
    display: flex;
}

#logo{
    height: 70%;
    padding: 1vh;
}

nav{
    padding: 30px;
    margin:auto;
}

ul{
   display: flex;
}

li{
    padding: 7px;
    margin: 7px;
    color: white;
    font-family: 'Alfa Slab One', cursive;
    font-size: 22px;
}

li:hover{
    cursor: pointer;
    text-decoration: underline;
    color: #df76c3;
}

/*---------------------------------*/
/*---Final do cabeçalho inicial----*/
/*---------------------------------*/

/*------------------------------------------------------------------------DividerSemantico----------------------------------------------------------------------------------------*/

/*--------------------------*/
/*--Início Bloco Principal--*/
/*--------------------------*/

main{

    background-color: #AC80A0;
    margin: 12vh 6vw 12vh 4vw;
    border-radius: 1vh;
    
}

h1{
    font-size: 4.42vw;
    font-family: 'Alfa Slab One', cursive;
    color: #FFFFFF;
    padding: 10vh 0 0 6.5vw;
    width: 44%;
}

article{
width: 44vw;
display: block;
padding-bottom: 10vh;
}

#contein{
    display: flex;
    flex-direction: row;
    gap: 10vw;
}

p{
    color: #FFFFFF;
    font-size: 2vw;
    font-family: 'Roboto Serif', serif;
    padding: 15% 0 0 15%;
    
}

#refugiados{
   width: 30%;
   height: 30%;
    border-radius: 1vh;
    margin-top: 11%;
    
}
/*--------------------------*/
/*--Final do Bloco principal*/
/*--------------------------*/

/*---------------------------------------------------------------------------------DividerSemantico-------------------------------------------------------------------------------------------*/

/*----------------*/
/*----Medias------*/  
/*----------------*/

@media only screen and (max-width: 700px){
    
    main{
        margin: 5vh 4vw 6vh 5vw;
    }
    
    h1{
        font-size: 7vw;
        width: 80%;
        padding: 10vh 0 0 24%;
        display: flex;  
    }

    #contein{
        flex-direction: column;
        gap: 0;
    }
    
    #refugiados{
        width: 40%;
        height: 40%;
        margin: auto;
        margin-bottom: 7%;
        margin-top: 7%;
    }

    article{
        padding-bottom: 0;
        width: 80%;
        padding-left: 5%;
        justify-content: center;
    }
    
    p{
        font-size: 3vw;
        padding-top: 5%;
        text-align: justify-all;
    }

/*---------------------------------*/
/*----------Media Header-----------*/
/*---------------------------------*/
#logo{
    margin: 0;
    padding: 10px 20px !important;
    width: 80px;
    height: 50px;
}

.menu{
    position:absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    cursor: pointer;
}

.menu > div {
    background: #e5e5e5;
    height: 4px;
    width: 80%;
    margin: 5px;

}

nav{
    display: none;
}

ul{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    vertical-align: middle;
}

/*--Javascript no media--*/
    header.on{
        position: absolute;
        height: 100%;
        display: flex;
        flex-direction: column;
        top: 0;
    }

    nav.on{
        display: flex;
        height: 100%;
    }
}

/*--------------------------------------*/
/*----------Media Vertical--------------*/
/*--------------------------------------*/

@media only screen and (max-height: 570px ) and (max-width: 700px){
    #refugiados{
        display: none;
    }
    article{
        padding-bottom: 10%;
    }
}