body{
    width: 100vw;
    height: 100vh;
    background-color:white;
    /*max-width: 1000px;
    min-width: 300px;
    min-height: 500px;
    max-height: 2000px;*/
}

header{
    width: 100vw;
    height: 12vh;
    background-color: #5692D1 ;
   
}

main{
    width: 88vw;
    height: 64vh;
    background-color: #AC80A0;
    margin: 12vh 6vw 12vh 6vw;
    border-radius: 1vh;
}