body{
   
    width: 100vw;
    height: 120vh;
    background-color:white;
}

header{
    width: 100vw;
    height: 12vh;
    background-color: #5692D1 ;
   
}

main{

    background-color: #AC80A0;
    margin: 12vh 6vw 12vh 4vw;
    border-radius: 1vh;
    
}/*
max-height: 84vh;
width: 88vw;
height: 84vh;*/
h1{
    font-size: 4.42vw;
    font-family: 'Alfa Slab One', cursive;
    color: #FFFFFF;
    padding: 10vh 0 0 6.5vw;
    width: 44%;
    
    
}

p{
    color: #FFFFFF;
    font-size: 2vw;
    font-family: 'Roboto Serif', serif;
    padding: 15% 0 0 7%;
    
}

article{
width: 44vw;
display: block;
padding-bottom: 10vh;
}

img{
   width: 30%;
   height: 30%;
    border-radius: 1vh;
    margin-top: 8%;
    
    
    
}

#contein{
    display: flex;
    flex-direction: row;
    gap: 10vw;
}