body{
    background-color:white;
}

header{
    width: 100vw;
    height: 12vh;
    background-color: #5692D1 ;
   
}

main{

    background-color: #AC80A0;
    margin: 12vh 6vw 12vh 4vw;
    border-radius: 1vh;
    
}

h1{
    font-size: 4.42vw;
    font-family: 'Alfa Slab One', cursive;
    color: #FFFFFF;
    padding: 10vh 0 0 6.5vw;
    width: 44%;
    
    
}

p{
    color: #FFFFFF;
    font-size: 2vw;
    font-family: 'Roboto Serif', serif;
    padding: 15% 0 0 15%;
    
}

article{
width: 44vw;
display: block;
padding-bottom: 10vh;
}

#refugiados{
   width: 30%;
   height: 30%;
    border-radius: 1vh;
    margin-top: 11%;
    
}

#contein{
    display: flex;
    flex-direction: row;
    gap: 10vw;
}

@media only screen and (max-width: 700px){
    #contein{
        flex-direction: column;
        gap: 0;
    }
    
    #refugiados{
        width: 40%;
        height: 40%;
        margin: auto;
        margin-bottom: 7%;
        margin-top: 7%;
    }
    article{
        padding-bottom: 0;
    }
    
    main{
        width: 50%;
        margin: auto;
        margin-top: 15%;
     
    }
    
    h1{
        margin-left: 5%;
        width: 100%;
    }

}